


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GUI_Adtech_V2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GUI_Adtech_V2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        body {
            margin: 0;
            font-family: "PT Serif";
        }

        /* Sidebar styling */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 330px;
            height: 100%;
            background-color: #263a59;
            overflow-x: hidden;
            padding-top: 20px;
            text-align: center;
        }

            .sidebar img {
                padding: 10px 0;
                width: 180px;
                height: auto;
                margin: 0 26px 40px;
                display: block;
            }

            .sidebar a {
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 7px 24px;
                text-decoration: none;
                color: white;
                font-size: 16px;
                white-space: normal;
                word-wrap: break-word;
                transition: background-color 0.3s ease;
            }

                .sidebar a i {
                    margin-right: 10px;
                }

                /* اللون البرتقالي عند اختيار النظام */
                .sidebar a.active {
                    background-color: orange;
                }

        /* اللون الأزرق عند اختيار أحد المكونات الفرعية */
        .dropdown-container a.active {
            background-color: #0056b3; /* لون أزرق */
        }

        .sidebar a:hover:not(.active) {
            background-color: grey;
        }

        .dropdown-container {
            display: none;
            background-color: #36476b;
            padding-left: 20px;
        }

            .dropdown-container a:hover {
                background-color: #495d7f;
            }

        .main-content {
            margin-left: 280px;
            padding: 20px;
            min-height: calc(100vh - 100px);
        }

        .header {
            position: fixed;
            top: 0;
            left: 330px;
            height: 70px;
            right: 0;
            background-color: #222b33;
            color: white;
            padding: 10px;
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 280px;
            right: 0;
            height: 40px;
            background-color: #263a59;
            color: white;
            text-align: center;
            padding: 10px;
        }

        body, html {
            height: 100%;
        }

        main {
            padding-top: 48px;
        }

        .sidebar h3 {
            margin: 0px 0;
            font-size: 20px;
            text-align: left;
            padding: 10px;
            margin-left: 6%;
            text-transform: uppercase;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <img src="~/images/adtech.png" alt="Logo">
        <h3 style="color: #48bcbc; margin-right: 18px;">SYSTEMS</h3>

        <!-- Adtech Core Service -->
        <a class="dropdown-btn"><i class="fas fa-cogs"></i> Adtech Core Service <i class="fas fa-chevron-right arrow" style="margin:10px"></i></a>
        <div class="dropdown-container">
            <a asp-controller="Core" asp-action="DatabaseConfig" class="@(ViewContext.RouteData.Values["action"].ToString() == "DatabaseConfig" ? "active" : "")">Database Config</a>
            <a asp-controller="Core" asp-action="FolderStructure" class="@(ViewContext.RouteData.Values["action"].ToString() == "FolderStructure" ? "active" : "")">Folder Structure</a>
            <a asp-controller="Core" asp-action="SFTPConnector" class="@(ViewContext.RouteData.Values["action"].ToString() == "SFTPConnector" ? "active" : "")">SFTP Connector</a>
            <a asp-controller="Core" asp-action="XMLValidation" class="@(ViewContext.RouteData.Values["action"].ToString() == "XMLValidation" ? "active" : "")">XML Validation</a>
        </div>

        <!-- Head-End System -->
        <a class="dropdown-btn"><i class="fas fa-clipboard-list"></i> Head-End System <i class="fas fa-chevron-right arrow" style="margin:10px"></i></a>
        <div class="dropdown-container">
            <a asp-controller="HES" asp-action="MeterInstallation" class="@(ViewContext.RouteData.Values["action"].ToString() == "MeterInstallation" ? "active" : "")">Meter Installation</a>
            <a asp-controller="HES" asp-action="DailyReading" class="@(ViewContext.RouteData.Values["action"].ToString() == "DailyReading" ? "active" : "")">Daily Reading</a>
            <a asp-controller="HES" asp-action="ControlService" class="@(ViewContext.RouteData.Values["action"].ToString() == "ControlService" ? "active" : "")">Control Service</a>
            <a asp-controller="HES" asp-action="DataService" class="@(ViewContext.RouteData.Values["action"].ToString() == "DataService" ? "active" : "")">Data Service</a>
        </div>

        <!-- Geographic Information -->
        <a class="dropdown-btn"><i class="fas fa-globe"></i> Geographic Information <i class="fas fa-chevron-right arrow" style="margin:10px"></i></a>
        <div class="dropdown-container">
            <a asp-controller="GIS" asp-action="GISUDA" class="@(ViewContext.RouteData.Values["action"].ToString() == "GISUDA" ? "active" : "")">Network GIS Node</a>
            <a href="#gis1">User Defined Attribute</a>
        </div>

        <!-- SCADA -->
        <a class="dropdown-btn"><i class="fas fa-server"></i> SCADA <i class="fas fa-chevron-right arrow" style="margin:10px"></i></a>
        <div class="dropdown-container">
            <a asp-controller="SCADA" asp-action="NetworkMeter" class="@(ViewContext.RouteData.Values["action"].ToString() == "NetworkMeter" ? "active" : "")">Network Meter</a>
        </div>

        <!-- SINCAL -->
        <a class="dropdown-btn"><i class="fas fa-network-wired"></i> SINCAL <i class="fas fa-chevron-right arrow" style="margin:10px"></i></a>
        <div class="dropdown-container">
            <a href="#sincal1">Feeders</a>
            <a href="#sincal2">Transformers</a>
        </div>
    </div>

    <!-- Header -->
    <div class="header d-flex justify-content-between align-items-center">
        <h2 style="background:#263a59"></h2>
        <div class="header-buttons" style="margin-right: -15px;">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary" style="margin-right: 10px;" title="Login">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>

    <!-- Main content -->
    <div class="main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // تحقق من حالة sessionStorage
            var dropdowns = document.getElementsByClassName("dropdown-btn");

            for (var i = 0; i < dropdowns.length; i++) {
                var dropdownContent = dropdowns[i].nextElementSibling;

                // تحقق إذا كانت القائمة محفوظة في sessionStorage وقم بفتحها
                var isActive = sessionStorage.getItem(dropdowns[i].innerText.trim());
                if (isActive === "true") {
                    dropdowns[i].classList.add("active");
                    dropdownContent.style.display = "block";
                }

                dropdowns[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;

                    // فتح أو غلق القائمة وتخزين الحالة في sessionStorage
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                        sessionStorage.setItem(this.innerText.trim(), "false");
                    } else {
                        dropdownContent.style.display = "block";
                        sessionStorage.setItem(this.innerText.trim(), "true");
                    }
                });
            }
        });
    </script>
</body>
</html>
